/* line 1, G:/Projets/MeuseTech/app/assets/stylesheets/navbar.scss */
#svg4586 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

/* line 8, G:/Projets/MeuseTech/app/assets/stylesheets/navbar.scss */
.divlogo #marron {
  fill: #662c1e;
  fill-opacity: 1;
}

/* line 13, G:/Projets/MeuseTech/app/assets/stylesheets/navbar.scss */
.divlogo #marron:hover {
  fill-opacity: 0.75;
}

/* line 17, G:/Projets/MeuseTech/app/assets/stylesheets/navbar.scss */
.divlogo #bleu {
  fill: #0173bc;
  fill-opacity: 1;
}

/* line 22, G:/Projets/MeuseTech/app/assets/stylesheets/navbar.scss */
.divlogo #bleu:hover {
  fill-opacity: 0.75;
}

/* line 26, G:/Projets/MeuseTech/app/assets/stylesheets/navbar.scss */
.divlogo #orange {
  fill: #ec8e2c;
  fill-opacity: 1;
}

/* line 31, G:/Projets/MeuseTech/app/assets/stylesheets/navbar.scss */
.divlogo #orange:hover {
  fill-opacity: 0.75;
}

/* line 35, G:/Projets/MeuseTech/app/assets/stylesheets/navbar.scss */
.divlogo #vert {
  fill: #33b160;
  fill-opacity: 1;
}

/* line 40, G:/Projets/MeuseTech/app/assets/stylesheets/navbar.scss */
.divlogo #vert:hover {
  fill-opacity: 0.75;
}
