<h2>Voir le compte <%= @user.email %></h2>


<div><label><%= @user.nom %></label></div>

<div><label><%= @user.prenom %></label></div>

<div><label><%= @user.pseudo %></label></div>

<a href="/users">Retour Espace Modération</a>