<% content_for :stylesheet do %>
	<%= stylesheet_link_tag 'messages' %>
	<%= stylesheet_link_tag 'navbar' %>
	<%= stylesheet_link_tag 'sidebar' %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<% end %>


<h1>vue générale</h1>