<div class="container">
  <div class="questionnaires_<%= action_name %>">
    <h1>
      Sondages 
    </h1>
      <a href="/sondages/nouveau">Créer un nouveau sondage</a>
    <hr>
    <% if @surveys.empty? %>
      <p> Il n'existe aucun sondage actuellement. </p>
    <% else %>
      <table class='table table-nonfluid survey-table'>
        <thead>
          <tr>
            <th></th>
            <th>Nom</th>
            <th>Description</th>
            <th>Questions</th>
            <th>Participations</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'survey', collection: @surveys %>
        </tbody>
      </table>
      <h1>
      Résultats
      </h1>
    <% end %>
  </div>
</div>
