// Place all the styles related to the Actualites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contenu {
    background-color: #eeeeee;
}

.actions {
    text-align:center;
}

.actualite {
    background-color:white;
}

.border-right {
    border-right: 2px solid #dddddd ;
}

.border-top {
    border-top: 1px solid #dddddd ;
}

.border-top p {
    font-style: italic;
}

.border-bottom {
    
}

.titre {
    background-color:#dddddd ;
    padding:5px 10px 10px 30px;
    border-top-left-radius:5px; 
    border-top-right-radius:30px; 
    margin-top:15px;
    height:114px;
    
}

.titre p {
    font-style: italic;
}

.actu-content {
    padding:10px 30px 30px 30px;
    border-bottom-right-radius:5px; 
}

.infos_actu {
    display:inline-block;
}

.likes-count {
    display:inline-block;
    float: right;
    width:53px;
    height:40px;
    color:white;
    font-weight:bold;
    padding-top: 7px;
    padding-left: 32px;
    background-image: url("actu_unliked_button_top.png");
    margin-top: 70px;
    margin-right: 20px;
    
}

.likes-count-btn {
    width:53px;
    height:40px;
    padding-bottom:8px;
    padding-left: 28px;
    color:white;
    font-weight:bold;
    border:none; 
}

.unliked {
    background-image: url("actu_unliked_button_top.png");
}

.unliked:hover {
    background-image: url("actu_unliked_hover_button_top.png");
}

.liked {
    background-image: url("actu_liked_button_top.png"); 
}

.liked:hover {
    background-image: url("actu_liked_hover_button_top.png"); 
}

.likes-form {
    display:inline-block;
    width:53px;
    height:40px;
    float: right;
    margin-top: 69px;
    margin-right: 20px;
}

.likes-comments-count-btn {
    background-color: rgba(0,0,0,0);
    width:84px;
    height:40px;
    padding-left:24px;
    padding-top:8px;
    color:white;
    font-weight:bold;
    border:none; 
    margin-left: 30px;
    margin-bottom: 15px;
}

.likes-comments-count {
    width:84px;
    height:40px;
    color:white;
    font-weight:bold;
    padding-top: 15px;
    padding-left: 28px;
    background-image: url("actu_likescomments_unliked.png");
    margin-left: 30px;
    margin-bottom: 15px;
    
}


.unclicked {
    background-image: url("actu_likescomments_unliked.png"); 
}

.unclicked:hover {
    background-image: url("actu_likescomments_unliked_hover.png"); 
}



.clicked {
    background-image: url("actu_likescomments_liked.png");
}

.clicked:hover {
    background-image: url("actu_likescomments_liked_hover.png");
}



.likes-number {
    display:inline-block;
    margin-right:28px;
}

.comments-number {
    display:inline-block;
}


.projet__date {
	color: #0000FF;
}

.comment__pseudo {
	color: #0173bc;
}

.comment_content {	
	background-color: #a6e1f0;
	color: #0173bc;
}

.form-control {
	background-color: #0173bc !important;
}

.form-control:focus {
	background-color: #a6e1f0 !important;
}

.form-control:hover {
	background-color: #a6e1f0 !important;
}

.btn-comment {
	margin-top: 5px;
	background-color: #a6e1f0;

	-webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

.btn-comment:hover {
	background-color: #01aad4;
	color: white;
}





