/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.


 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


header {
	position: relative;	
}

.menu {
	position: relative;
	z-index: 4;
}


main {
	position: relative;
	margin-top: 20px
}
 
.fond img {
	top: 0;
	position: fixed;
	width: 100%;
	opacity: 0.35;
}	

.fond {
	z-index: 1;
}

.form_content {
	-webkit-box-shadow: 10px 10px 45px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 45px -5px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 45px -5px rgba(0,0,0,0.75);

	border-radius: 5px 40px 5px 40px;
	-moz-border-radius: 5px 40px 5px 40px;
	-webkit-border-radius: 5px 40px 5px 40px;
	border: 0px solid #000000;
}

.contenu {
	position: relative;
	background-color: #F5F5F5;
	z-index: 3;
	margin-top: 55px;
	margin-bottom: 15px;
	padding-top: 15px;	
}

footer {
	position: relative;
	z-index: 4;
	bottom: 0;

}