// Place all the styles related to the Commentaires controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment_coin_droit {
	background-image: url(angledroit50.png);
	background-repeat: no-repeat;
	max-width: 22px;
}

.comment_coin_gauche {
	background-image: url(anglegauche50.png);
	background-repeat: no-repeat;
	margin-left: -25px;	
}


.haut, .bas {	
	height: 22px;
}

.bas_fin {
	height: 1px;
	margin: 5px;
}

.comment_line {	
	background-image: url(horizontale50.png);
}

.comment_content {	
	padding: 15px;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
}

.comment_content_style{
	text-align: justify;
}

.date {
	font-size: 0.8em;
	text-align: right;
	font-style: italic;

	margin-top: 15px;	
}