#svg2 {
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:2%;
}

.divlogo #marron {
	fill:#662c1e;
	fill-opacity:1;
}

.divlogo #marron:hover {
	fill-opacity:0.90;
}

.divlogo #bleu {
	fill:#0173bc;
	fill-opacity:1;
}

.divlogo #bleu:hover {
	fill-opacity:0.90;
}

.divlogo #orange {
	fill:#ec8e2c;
	fill-opacity:1;
}

.divlogo #orange:hover {
	fill-opacity:0.90;
}

.divlogo #vert {
	fill:#33b160;
	fill-opacity:1;
}

.divlogo #vert:hover {
	fill-opacity:0.90;
}

.divlogo #txtOrange {
	fill-opacity:0;
}

.divlogo #txtOrange:hover {
	fill-opacity:1;
}

.divlogo #txtVert {
	fill-opacity:0;
}

.divlogo #txtVert:hover {
	fill-opacity:1;
}

.divlogo #txtBleu {
	fill-opacity:0;
}

.divlogo #txtBleu:hover {
	fill-opacity:1;
}

.divlogo #txtMarron {
	fill-opacity:0;
}

.divlogo #txtMarron:hover {
	fill-opacity:1;
}