#svg2 {
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:2%;
}

#navbartop {
	margin-bottom: -85px;	
}

.navbar #projets {
	fill:#662c1e;
	fill-opacity:1;
}

.navbar #sondages {
	fill:#0173bc;
	fill-opacity:1;
}

.navbar #atualites {
	fill:#ec8e2c;
	fill-opacity:1;
}

.navbar #pourquoi {
	fill:#33b160;
	fill-opacity:1;
}

#txtsondages {
	fill-opacity:0;
}

#txtpourquoi {
	fill-opacity:0;
}

#txtprojets {
	fill-opacity:0;
}

#txtactualites {
	fill-opacity:0;
}

#retourmenu {
	opacity:0;
}

#bouton_on, #bouton_off {	
	width: 50px;
	height: 50px;
	margin: auto;
	margin-top: 55px;
	margin-bottom: -55px;	
}

#bouton_on span, #bouton_off span{
	color: black;
	font-size: 25px;	
}

#bouton_off {		
	display: none;	
}

#bouton_on:hover > span, #bouton_off:hover > span {
	color: #0000CD;
}
