#svg3 {
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:5%;
}

.divnavbartop #marron {
	fill:#662c1e;
	fill-opacity:1;
}

.divnavbartop #marron:hover {
	fill-opacity:0.90;
}

.divnavbartop #bleu {
	fill:#0173bc;
	fill-opacity:1;
}

.divnavbartop #bleu:hover {
	fill-opacity:0.90;
}

.divnavbartop #orange {
	fill:#ec8e2c;
	fill-opacity:1;
}

.divnavbartop #orange:hover {
	fill-opacity:0.90;
}

.divnavbartop #vert {
	fill:#33b160;
	fill-opacity:1;
}

.divnavbartop #vert:hover {
	fill-opacity:0.90;
}
