#svg2 {
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:2%;
}

.divlogo #projets {
	fill:#662c1e;
	fill-opacity:1;
}

.divlogo #sondages {
	fill:#0173bc;
	fill-opacity:1;
}

.divlogo #atualites {
	fill:#ec8e2c;
	fill-opacity:1;
}

.divlogo #pourquoi {
	fill:#33b160;
	fill-opacity:1;
}

#txtsondages {
	fill-opacity:0;
}

#txtpourquoi {
	fill-opacity:0;
}

#txtprojets {
	fill-opacity:0;
}

#txtactualites {
	fill-opacity:0;
}

#retourmenu {
	opacity:0;
}
