// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';


.slidermain{
	width: 640px; /*Same as width of the large image*/
	position: relative;
	/*Instead of height we will use padding*/
	padding-top: 320px; /*That helps bring the labels down*/
	
	margin: 100px auto;
	
	/*Lets add a shadow*/
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.slidermain>img{
	position: absolute;
	left: 0; top: 0;
	transition: all 0.5s;
}

.slidermain input[name='slide_switch'] {
	display: none;
}

.slidermain label {
	/*Lets add some spacing for the thumbnails*/
	margin: 18px 0 0 18px;
	border: 3px solid #999;
	
	float: left;
	cursor: pointer;
	transition: all 0.5s;
	
	/*Default style = low opacity*/
	opacity: 0.6;
}

.slidermain label img{
	display: block;
}

.slidermain input[name='slide_switch']:checked+label {
	border-color: #666;
	opacity: 1;
}

.slidermain input[name='slide_switch'] ~ img {
	opacity: 0;
	transform: scale(1.1);
}

.slidermain input[name='slide_switch']:checked+label+img {
	opacity: 1;
	transform: scale(1);
}