// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#svg4586 {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.divlogo #marron {
	fill:#662c1e;
	fill-opacity:1;
}

.divlogo #marron:hover {
	fill-opacity:0.75;
}

.divlogo #bleu {
	fill:#0173bc;
	fill-opacity:1;
}

.divlogo #bleu:hover {
	fill-opacity:0.75;
}

.divlogo #orange {
	fill:#ec8e2c;
	fill-opacity:1;
}

.divlogo #orange:hover {
	fill-opacity:0.75;
}

.divlogo #vert {
	fill:#33b160;
	fill-opacity:1;
}

.divlogo #vert:hover {
	fill-opacity:0.75;
}

