// Place all the styles related to the Projets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.projet__date {
	color: #0000FF;
}

.comment__pseudo {
	color: #D2691E;
}

.comment_content {	
	background-color: #E1CE9A;
	color: #8B4513;
}

.form-control {
	background-color: #8B4513 !important;
}

.form-control:focus {
	background-color: #CD853F !important;
}

.form-control:hover {
	background-color: #CD853F !important;
}

.btn-comment {
	margin-top: 5px;
	background-color: #E1CE9A;

	-webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -ms-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

.btn-comment:hover {
	background-color: #8B4513;
	color: white;
}