<h1>Accueil du site</h1>
<ul>
    <li><a href="/projets">Projets</a></li>
    <li><a href="/actualites">Actualités</a></li>
    <li><a href="/sondages">Sondages</a></li>
    <li><a href="/pourquoi">Pourquoi ce site?</a></li>
</ul>

<ul>
    <% if compte_signed_in? %>

        <% if current_compte.statut_id == 1 || current_compte.statut_id == 2 %>
            <li><a href="/moderation">Modération</a></li>
        <% end %>

        <li><a href="/comptes/sign_out" data-method="delete" rel="nofollow" >Déconnexion</a></li>

    <% else %>
        <li><a href="/comptes/sign_in " >Connexion</a></li>
    <% end %>
</ul>
