<% content_for :script do %>
	<%= javascript_include_tag 'navbar' %>
<% end %>

<div id="bouton_on">
	<span class="glyphicon glyphicon-menu-down"></span>
</div>

<div id="bouton_off">
	<span class="glyphicon glyphicon-menu-up"></span>
</div>

<div class="navbar" id="navbartop">
    <%= svg 'navbartop' %>
</div>
