
<div class="divlogo">
    <%= svg 'logo' %>
</div>

<!--<ul>
    <li><a href="/projets">Projets</a></li>
    <li><a href="/sondages">Sondages</a></li>
    <li><a href="/actualites">Actualités</a></li>
    <li><a href="/pourquoi">Pourquoi ce site?</a></li>
</ul>-->

<ul>
    <% if compte_signed_in? %>

      	<li><a href="/comptes/sign_out" data-method="delete" rel="nofollow" >Déconnexion</a></li>

    <% else %>
        
        <li><a href="/comptes/sign_in" >Connexion</a></li>
				<li><a href="/comptes/sign_up" >S'inscrire</a></li>
   
    <% end %>
</ul>


