
<div class="divlogo">
    <%= svg 'logo' %>
</div>

<!--<ul>
    <li><a href="/projets">Projets</a></li>
    <li><a href="/sondages">Sondages</a></li>
    <li><a href="/actualites">Actualités</a></li>
    <li><a href="/pourquoi">Pourquoi ce site?</a></li>
</ul>-->




