
<% if user_signed_in? %>

<a id="menu-toggle" href="" class="btn btn-dark btn-lg toggle">
	<i class="fa fa-bars"></i>
</a>

	<!-- Sidebar droite -->
<nav id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<a id="menu-close" href="" class="btn btn-danger pull-right hidden-md hidden-lg toggle">
			<i class="fa fa-times"></i>
		</a>
		<li class="sidebar-brand">
			<p><%= current_user.pseudo %></p>
		</li>
		<li>
			<a href="/users/edit">Mon Profil</a>
		</li>
	<% if current_user.moderator?(:contributeurs) %>
		<li>
			<a href="/users">Liste des Utilisateurs</a>
		</li>
	<% end %>
    <% if current_user.moderator?(:comments) %>
        <li>
			<a href="/comments">Liste des Commentaires</a>
		</li>
    <% end %>
		<li>
			<a href="/mes-projets">Mes Projets</a>
		</li>				
		<li>
			<a href="/projets-suivis">Projets Suivis</a>
		</li>
		<li>
            <a href="/notifications">Notifications (<%= Notification.where(destinataires: current_user.id).count %>)</a>
		</li>
	</ul>
</nav>

<% end %>
